<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Task</title>
</head>
<body>
<h1>Скважины </h1>
<table class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>Имя Скважины </th>
        <th>Количество оборудования</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="well : ${wells}">
        <td><p th:text="${well.getName()}"></p></td>

        <td><p th:text="${well.getEquipments().size()}"></p></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/wells/create}"  >
    <input type="submit" value="update" />
</form>

</body>
</html>